{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-class-constructor-call",
    "transform-class-properties",
    "remove-graphql-tag"
  ],
  "ignore": [
    "node_modules/**/*",
    "app/bower_components/**/*"
  ]
}
